.display-4 {
    margin-left:30px;
}
.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 60px;
}
h5 {
    margin-top: 10px;
    margin-left: 40px;
    
}

/* link buttons */
.navbar {
    height: 120px;
    margin-bottom: 20px;
}

#navbarText{
    width: 100px;
    height: 20px;
    margin-left: 260px;
}
.nav-link {
    width: 100px;
    margin-top: 60px;
    /* margin-left: 4px; */
    text-align: center;

}
.card {
    margin:20px auto;
    box-shadow: 5px 5px 5px 5px lightgray;

}
.card-text {
    margin:20px;
    padding: 20px;
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #777777;
}


/* page title */
    .title {
    width: 850px;
    height: 50px;
    margin: 20px;
    padding: 0 20px 20px 20px;
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
  
}

.card-img {
    margin: 30px;
    width: 300px;
    height: 425px;   
}
/* portfolio */
.port-link {
    height: 35px;
    padding: 10px;
}
/* Contact */
#port-card-body {
  margin-bottom: 60px;
}
.form{
    height:400px;
    margin-bottom: 20px;
}
.form-group {
    margin-left: 30px;
}
#name-input {
    width: 850px;
    height: 30px;
    margin-top: 0 20px; 
}
#email-input {
    width: 850px;
    height: 30px;
    margin-top: 0 20px; 
}
#message{
    width: 850px;
    margin-top: 0 20px; 
}
.submitBtn {
    width: 100px;
    height: 35px;
    margin-left: 30px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    background-color:  #ffffff;
    color: #777777;
    border: 2px solid #777777;
  
}

/* <==footer==> */

#copyright {
    margin: 10px auto 15px;
  
} 
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(241, 241, 241);
    text-align: center;
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
