.box 
    {background-image: url(images/cork-board.png)
}

.display-4 { 
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;  
    margin-left: 50px;
}
.lead {
    margin-left: 50px;
}
/* link buttons */
.navbar {
    height: 100px;
}
#navbarText{
    width: 100px;
    height: 20px;
    margin-left: 200px;
}
.nav-link {
    width: 100px;
    margin-top: 75px;
    margin-left: 8px;
    text-align: center;

}
.card {
    margin:10px auto;
}
.card-text {
    margin:20px;
    padding: 20px;
    font-family:'Georgia', Times, Times New Roman, serif;
}
.main-content {
    clear: both;
    width: 1000px;
    height: 1000px;

    background-color: #ffffff;
    border-color: #dddddd;
    margin: 20px auto;
    padding: 20px;
      
}
#main-content {
    clear: both;
    width: 1000px;
    height: 600px;

    background-color: #ffffff;
    border-color: #dddddd;
    margin: 20px auto;
    padding: 20px;
    font-family:'Georgia', Times, Times New Roman, serif;
}
/* page title */
    .title {
    width: 910px;
    height: 50px;
    margin: 20px;
    padding: 0 20px 20px 20px;
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
  
}

img {
    margin: 30px;
    width: 225px;
    height: 425px;
    
}
#para {
    margin: 40px;
}

/* Portfolio */

h5 {
    margin-left: 30px;
}
.project-links {
    margin-left: 30px;
}
.image-box {
    width: 190px;
    height: 265px;
    margin: 20px 30px;
    float: left;
}


/* Contact */
.form-group {
    margin: 20px;
    
}
#name-input {
    width: 900px;
    height: 30px;
}
#email-input {
    width: 900px;
    height: 30px;
}

#message{
    width: 900px;
    height: 150Px;  
}
.submitBtn {
    width: 100px;
    margin-left: 30px;
    padding: 10px;
    text-align: center;
    background-color:  #ffffff;
    color: #777777;
    border: 2px solid #777777;
  
}

/* <==footer==> */

#copyright {
    margin: auto;
    padding: 20px;
    
} 
.footer{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #dfdede;
    text-align: center;
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
